/*
*Global
*/

$body-bg-color: #edeff0;
$body-text-color: #222;
$body-font-family: 'Audiowide', cursive;
$body-font-size: 100%;
$body-line-height: 150%;


$link-color: #000;
$link-weight: 600;


/*
* container
*/
$container-bg-color: #fff;
$container-border-radius: 5px;
$container-shadow: 0 2px 0 rgba(0, 0, 0, .2);
$container-footer-top-border: 1px solid #e8ebed;

/*
* Colors
*/
$primary-color: #e0e0e0;
$success-color: #5ebc41;
$error-color: #bb2828;



/*
* Buttons
*/
$button-border-radius: 5px;
$button-bg-color: $primary-color;
$button-success-text-color: #fff;
$button-error-text-color: #fff;


/*
* Nav
*/

$nav-bg-color: #444;
$nav-text-color: #fff;
$nav-link-color: #666;
