.top-nav {

  background-color: $nav-bg-color;
  height: 60px;
  color: $nav-text-color;
  margin-bottom: 20px;

  .logo {

    float: left;
    height: 60px;
    line-height: 60px;
    margin-left: 20px;
  }

  .top-nav-items {
    @extend %inline-list;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    font-size: .9em;

    a{
        display: block;
        height: 60px;
        padding: 0 20px;
        color: $nav-link-color;
        font-weight: 400;
        text-decoration: none;

        @include transition(color, 100ms, ease-in);

        &:hover{
          color: #fff;
        }
    }
  }

}
